# unSkript-ctl config file
#
# Copyright (c) 2023 unSkript.com
# All rights reserved.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE
#
#
version: 1.0.0

#
# Global section
#
# Global config
#
global:
   # if enable_runbooks is enabled, jupyterlab is launched so that one can open
   # runbooks in jupyterlab.
   enable_runbooks: true
   # audit_period in days. Number of days worth of audit data to be kept.
   # Any date older than this number of days, will be deleted.
   audit_period: 90

#
# Checks section
#
# Check specific configuration. For eg, arguments.
#
checks:
  # Arguments common to all checks, like region, namespace, etc.
  arguments:
    global:
       region: us-west-2
       #matrix:
       #  namespace: [n1, n2]

# Credential section
#
# uncomment the relevant sections below to enable respective credential
#
credential:
  # AWS connector details
  aws:
   - name: awscreds
     enable: false
     access-key: ""
     secret-access-key: ""

  # Kubernetes connector details
  k8s:
   - name: k8screds
     enable: false
     kubeconfig: ""

  # GCP connector details
  gcp:
   - name: gcpcreds
     enable: false
     credential-json: ""

  # Elasticsearch connector details
  elasticsearch:
   - name: escreds
     enable: false
     host: ""
     api-key: ""
     no-verify-ssl: ""

  # Redis connector details
  redis:
   - name: rediscreds
     enable: false
     host: ""
     port: ""
     username: ""
     password: ""
     database: ""
     use-ssl: ""

  # Postgres connector details
  postgres:
   - name: postgrescreds
     enable: false
     host: ""
     port: ""
     username: ""
     password: ""
     database: ""

  # Mongodb connector details
  mongodb:
   - name: mongodbcreds
     enable: false
     host: ""
     port: ""
     username: ""
     password: ""

  # Kafka connector details
  kafka:
   - name: kafkacreds
     enable: false
     broker: ""
     username: ""
     password: ""
     zookeeper: ""

  # Rest connector details
  rest:
   - name: restcreds
     enable: false
     base-url: ""
     username: ""
     password: ""
     headers: ""

  # Vault connector details
  vault:
   - name: vaultcreds
     enable: false
     url: ""
     token: ""

  # Keycloak connector details
  keycloak:
   - name: keycloakcreds
     enable: false
     server-url: ""
     realm: ""
     client-id: ""
     username: ""
     password: ""
     client-secret: ""
     no-verify-certs: ""

#
# Notification section
#
# uncomment the relevant sections below to enable either slack or email notification
notification:
  # Slack Notification setting
  Slack:
    enable: false
    web-hook-url: ""
    channel-name: ""
    verbose: false #Not yet supported
  Email:
    verbose: true #Not yet supported
    enable: false
    email_subject_line: ""
    # provider for the email. Possible values:
    #    - SMTP - SMTP server
    #    - SES -  AWS SES
    #    - Sendgrid - Sendgrid
    provider: ""
    SMTP:
      smtp-host: ""
      smtp-user: ""
      smtp-password: ""
      to-email: ""
      from-email: ""
    SES:
      access_key: ""
      secret_access: ""
      region: ""
      to-email: ""
      from-email: ""
    Sendgrid:
      api_key: ""
      to-email: ""
      from-email: ""

#
# Job section
#
# Job detail contains information about what all unskript-ctl can run.
jobs:
  - name: "" # Unique name
    # The results of the job to be notified or not.
    notify: true
    #notify_sink: foo
    enable: false
    # Specific checks to run
    # Not supported: multiple checks, only single check support for now.
    checks: []
    # Specific suites to run
    # Not supported
    suites: []
    # connector types whose checks need to be run
    # Possible values:
    #   - aws
    #   - k8s
    #   - gcp
    #   - postgresql
    #   - slack
    #   - mongodb
    #   - jenkins
    #   - mysql
    #   - jira
    #   - rest
    #   - elasticsearch
    #   - kafka
    #   - grafana
    #   - ssh
    #   - prometheus
    #   - datadog
    #   - stripe
    #   - redis
    #   - zabbix
    #   - opensearch
    #   - pingdom
    #   - github
    #   - terraform
    #   - airflow
    #   - hadoop
    #   - mssql
    #   - snowflake
    #   - splunk
    #   - salesforce
    #   - azure
    #   - nomad
    #   - netbox
    #   - opsgenie
    connector_types: []
    # Custom scripts to be run.
    custom_scripts: []

#
# Scheduler section
#
# You can configure multiple schedules.
scheduler:
  - enable: false
    # Cadence is specified in cron syntax. More information about the syntax can
    # be found in https://crontab.guru
    # minute  hour  day (of month)  month  day (of week)
    #   *      *          *           *        *
    # Example: "*/30 * * * *"   <= This will run every 30 Minutes
    cadence: "*/60 * * * *"
    # Name of the job to add to the schedule
    job_name: ""

remote_debugging:
  enable: false
  # ovpn file location
  ovpn_file: ""
  # Cadence at which tunnel needs to be brought up.
  # Cadence is specified in cron syntax. More information about the syntax can
  # be found in https://crontab.guru
  # minute  hour  day (of month)  month  day (of week)
  #   *      *          *           *        *
  # Example: "*/30 * * * *"   <= This will run every 30 Minutes
  #
  tunnel_up_cadence: ""
  # Cadence at which tunnel needs to be brought down.
  # Cadence is specified in cron syntax. More information about the syntax can
  # be found in https://crontab.guru
  # minute  hour  day (of month)  month  day (of week)
  #   *      *          *           *        *
  # Example: "*/30 * * * *"   <= This will run every 30 Minutes
  #
  tunnel_down_cadence: ""
  # Cadence at which proxy session logs needs to be uploaded to storage bucket.
  # Cadence is specified in cron syntax. More information about the syntax can
  # be found in https://crontab.guru
  # minute  hour  day (of month)  month  day (of week)
  #   *      *          *           *        *
  # Example: "*/30 * * * *"   <= This will run every 30 Minutes
  #
  upload_log_files_cadence: ""