name: All Modules Import Test
on:
  pull_request:
    types: [ opened, reopened, edited, ready_for_review ]
  push:

permissions:
    id-token: write
    contents: read

env:
    GITHUB_TOKEN: ${{ secrets.BUILDER_PAT_ENCODED }}

jobs:
  all-module-import-test: 
    runs-on: ubuntu-latest 
    strategy:
      fail-fast: true

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.GHACTION_AWS_REGION }}
          role-to-assume: ${{ secrets.GHACTION_AWS_ROLE }}
          role-session-name: ${{ secrets.GHACTION_AWS_SESSION_NAME }}

     
      - name: Install system dependencies
        run: |
          pip install shyaml
          pip install --upgrade pip==22.2.2
          sudo apt update
          sudo apt install -y wget
          sudo apt install -y awscli
          aws s3 cp ${{ secrets.BUILD_REQUIREMENTS }} /tmp/requirements.txt
          pip install --no-cache-dir -r /tmp/requirements.txt
          aws s3 cp   ${{ secrets.MAIN_MODULE_BUILD_PACKAGE }}  /tmp/main_module.tar.gz
          pip install --no-cache-dir /tmp/main_module.tar.gz
          aws s3 cp  ${{ secrets.SUB_MODULE_BUILD_PACKAGE }} /tmp/sub_module.tar.gz
          pip install --no-cache-dir /tmp/sub_module.tar.gz
          pip install --no-cache-dir matplotlib>=3.7.1
        
      - name: Run All Modules Check

        run: /usr/bin/env python all_modules_test.py
