name: Generate Readme
on:
  push:
    branches:
      - master
jobs:
  generate-readme:
    if: "!startsWith(github.event.head_commit.message, 'generateReadme:')"
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776 # v2.2.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      with:
        token: '${{ secrets.GENERATE_README }}'
    - run: "pip install MarkupSafe==2.0.1"
    - run: "pip install notebook"
    - run: "pip install papermill"
    - run: "pip install Markdown==3.3.7"
    - run: "jupyter nbconvert --execute generate_readme.ipynb --inplace"
    - run: "jupyter nbconvert --clear-output --inplace generate_readme.ipynb"
    - uses: EndBug/add-and-commit@61a88be553afe4206585b31aa72387c64295d08b # v9.1.1
      with:
        message: 'generateReadme: Refresh'
  copy-file:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776 # v2.2.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

    - name: Pushes action and runbook lists to docs
      uses: dmnemec/copy_file_to_another_repo_action@bbebd3da22e4a37d04dca5f782edd5201cb97083 # main
      env:
        API_TOKEN_GITHUB: '${{ secrets.GENERATE_README }}'
      with:
        source_file: 'lists/Action_list.md'
        destination_repo: 'unskript/docs'
        destination_folder: 'lists'
        user_email: 'doug.sillars@gmail.com'
        user_name: 'dougsillars'
        commit_message: 'a new list of actions!'
  copy-file2:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776 # v2.2.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

    - name: Pushes action and runbook lists to docs
      uses: dmnemec/copy_file_to_another_repo_action@bbebd3da22e4a37d04dca5f782edd5201cb97083 # main
      env:
        API_TOKEN_GITHUB: '${{ secrets.GENERATE_README }}'
      with:
        source_file: 'lists/xRunBook_list.md'
        destination_repo: 'unskript/docs'
        destination_folder: 'lists'
        user_email: 'doug.sillars@gmail.com'
        user_name: 'dougsillars'
        commit_message: 'a new list of runbooks!'
