name: Run Legoschema
on:
  pull_request:
    types: [opened, reopened, edited, ready_for_review]
  push:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  run-validator: 
    runs-on: ubuntu-latest 
    strategy:
      fail-fast: false 

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@v4 # v3.5.0
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d-%s')"
      - name: Install system dependencies
        run: |
          pip install shyaml
      
      - name: Set up Python 3.x
        uses: actions/setup-python@75f3110429a8c05be0e1bf360334e4cced2b63fa # v2.3.3
        with:
          python-version: '3.9'
          
      - name: Run Validator
        run: |
          /usr/bin/env python ./validator.py
