name: Run Legoschema
on:
  pull_request:
    types: [opened, reopened, edited, ready_for_review]
  push:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

env:
  USERNAME: ${{ secrets.BUILD_USER }}
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 

jobs:
  build-elyra: 
    runs-on: ubuntu-latest 
    strategy:
      fail-fast: false 

    steps:
      - uses: actions/checkout@v3
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d-%s')"
      - name: Install system dependencies
        run: |
          pip install shyaml
      
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          
      - name: Checkout & Build Code
        run: |
          cd $HOME
          git clone https://${{ env.USERNAME }}:${{ secrets.BUILDER_PAT }}@github.com/unskript/elyra.git elyra
          cd elyra
          git checkout master
          python3 ./setup.py sdist
          mv dist/elyra*.tar.gz /tmp

      - uses: actions/upload-artifact@v3
        with:
          name: elyra-${{ github.run_id }}
          path: /tmp/elyra-3.0.0.dev0.tar.gz

  lego-schema:
    runs-on: ubuntu-20.04 
    needs: [build-elyra]
    strategy:
      fail-fast: false 

    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: elyra-${{ github.run_id }}
          path: /tmp/elyra
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d-%s')"
      - name: Install system dependencies
        run: |
          pip install shyaml
      
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Checkout Code
        run: |
          sudo apt install -y build-essential
          sudo apt-get install unixodbc-dev=2.3.7 unixodbc=2.3.7
          cd $HOME
          git clone https://${{ env.USERNAME }}:${{ secrets.BUILDER_PAT }}@github.com/unskript/unskript.git unskript
          cd unskript
          git checkout master
          /usr/bin/env python -m pip install /tmp/elyra/*.tar.gz
          /usr/bin/env python -m pip install -r ./requirements.txt 
          /usr/bin/env python -m pip install --upgrade protobuf
          /usr/bin/env python -m pip install google-api-python-client==2.77.0
          make awesome-submodule
          cd awesome
          git checkout ${{ env.BRANCH_NAME }}
          git pull origin ${{ env.BRANCH_NAME }}
          cd ..
          make legoschema

  cleanup:
    runs-on: ubuntu-latest
    needs: [build-elyra, lego-schema]
    strategy:
      fail-fast: false
    
    steps:
      - uses: geekyeggo/delete-artifact@v2
        with:
          name: |
            elyra-${{ github.run_id }}
