name: Sanitize Runbook
on:
  pull_request:
    types: [ opened, reopened, edited, ready_for_review ]
  push:

env:
  PR_NUMBER: ${{ github.event.number }}

jobs:
  sanitize-runbooks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d-%s')"

      - name: Install system dependencies
        run: |
          pip install shyaml nbformat URLExtract

      - name: All Runbooks
        id: files
        run: |
          echo "all_runbook_files=$(find . -mindepth 2 -maxdepth 2 -name \*.ipynb | tr '\n' ' ')" >> $GITHUB_OUTPUT

      - name: Run Sanitize
        id: sanity
        run: |
          echo "Running sanitize script on ${{ steps.files.outputs.all_runbooks_files }}"
          /usr/bin/env python ./sanitize.py -v ${{ steps.files.outputs.all_runbook_files }}
          
      - name: Run Region Test
        run: |
          /usr/bin/env python ./region_test.py  

 #     - name: Pytype Python Checker
 #       # You may pin to the exact commit or the version.
 #       # uses: theahura/pytype-action@83188a10fef4b23f61ece9aef0b3950d7d893bed
 #       uses: theahura/pytype-action@v1.6
 #       with:
 #         args: -d import-error
